<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaDaa</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaDaa.WebUI.styles.css" asp-append-version="true" /> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/TaDaa_Logo_Ampul.png" alt="TaDaa Logo" height="40" class="me-2">
                    <span class="fw-bold">TaDaa</span>
                </a>
                <!-- Menü -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link fw-medium" asp-area="" asp-controller="Task" asp-action="Index">Yeni TaDaa Ekle   </a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link fw-medium" asp-area="" asp-controller="PastTaDaa" asp-action="Index">  Geçmiş TaDaalarım</a>
                        </li>
                    </ul>
                    <div class="dropdown show">
                        <a class="btn user-btn dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                           @*  data-bs-toggle="dropdown" bootstrap 5 için kullanılır. *@
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Index">Hesabım</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Settings">Ayarlar</a>
                            <hr />
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Çıkış Yap</a>
                        </div>
                       

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    @Html.AntiForgeryToken()
    @RenderSection("Scripts", required: false)
</body>
</html>

